.burger-button {
    @include reset-button;
    @include square(48px);

    // background-color: gray;
    position: relative;
    cursor: pointer;

    @include mobile-s {
        @include square(40px);
    }
    
    span {
        @include abs-center;

        height: 2px;
        width: 60%;
        background-color: white;
        border-radius: 2px;
        transition-duration: 0.2s;

        &::after,
        &::before {
            content: '';

            position: absolute;
            height: 2px;
            width: 100%;
            background-color: white;
            translate: -50%;
            border-radius: 2px;
            transition-duration: .2s;
        }
        
        &::after {
            top: 8px;
        }

        &::before {
            bottom: 8px;
        }

    }
}
.burger-button.active {
    span {
        background-color: transparent;

        &::after {
            rotate: 45deg;
            top: auto;
        }
    
        &::before {
            rotate: -45deg;
            bottom: auto;
        }
    }
    }