.hero {
    background-image: url(../../images/Element.svg);
    background-repeat: no-repeat;

    &__image {
        @include tablet {
            width: 551px;
            height: 267px;
        }

        @include mobile {
            width: 286px;
            height: 191px;
        }
    }
}