.section {
    padding-block: var(--section-padding-y);

    &__body {
        display: flex;
        column-gap: 10px;

        @include tablet {
            flex-direction: column;
            row-gap: 100px;
            align-items: center;
        }
    }

    &__header {
        display: flex;
        flex-direction: column;
        row-gap: 24px;
        align-items: start;
        justify-content: center;

        @include tablet {
            align-items: center;
            text-align: center;
        }
    }

    &__button {
        margin-top: 36px;

        @include tablet {
            min-width: 164px;
        }
    }
}